name: PR Lint Check

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  flutter-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2

      - name: Install dependencies
        run: flutter pub get

      - name: Run Flutter analyze
        run: flutter analyze

      - name: Check code formatting
        run: flutter format --set-exit-if-changed .
