name: SonarCloud Scan

on:
  push:
    branches: [ "release/SCRUM-45-test" ]
  pull_request:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.2'

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze || true

      - name: Run tests with coverage
        run: flutter test --coverage

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=Hagerdarwish_flower_shop
            -Dsonar.organization=hagerdarwish
            -Dsonar.sources=lib
            -Dsonar.tests=test
            -Dsonar.sourceEncoding=UTF-8
            -Dsonar.dart.lcov.reportPaths=coverage/lcov.info
            -Dsonar.exclusions=**/*.g.dart,**/*.freezed.dart,**/generated/**,**/build/**,**/.dart_tool/**,**/android/**,**/ios/**,**/web/**,**/linux/**,**/macos/**,**/windows/**
            -Dsonar.test.exclusions=**/*_test.mocks.dart
            -Dsonar.javascript.enabled=false
            -Dsonar.typescript.enabled=false
            -Dsonar.css.enabled=false
            -Dsonar.c.file.suffixes=-
            -Dsonar.cpp.file.suffixes=-
            -Dsonar.objc.file.suffixes=-
      
